body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #171212; /* Ajustez cette couleur pour correspondre à votre conception */
    font-family: Arial, sans-serif;
    color: white;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem; /* padding horizontal ajusté pour le contenu de la barre de navigation */
    position: absolute;
    top: 0px;
    left: 0;
    height: 45px;
    width: 97.5%;
    background-color: black; /* Transparence maintenue */
    z-index: 10;
}

.navbar-left {
    display: flex;
    padding: 8px;
    gap: 12px; /* L'espace entre les éléments à gauche */
}

.navbar-right {
    display: flex;
    padding: 15px;
    gap: 20px; /* L'espace entre les éléments à droite */
    width: auto;
}

.navbar-right a {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    margin-right: 10px; /* L'espace entre les liens */
}
      .navbar-right img{
        display: none;

      }

      .sidebar {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        right: -250px; /* Start off the screen */
        width: 250px;
        height: 100%;
        background-color: black;
        z-index: 11;
        transition: right 0.3s;
      }
      
      .sidebar a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid grey;
      }
          
      
        .top{
        display: inline-block;
        border: 1px;
        padding: 10px;
        position: fixed;
        bottom: 6px;
        right: 8px;
        z-index: 1;
      }

      
      .content-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;        height: 100vh;
        width:100% /* Ajustez en fonction de la hauteur désirée */
        
    }
    
    .text-content {
       flex-basis: 37%;
        left: 0;
        width: 50%;
        top: 300px;
        padding-left: 20px;
        color: #fff; /* Ajustez la couleur du texte en fonction de votre design */
        z-index: 1;
    }
    .text-content img {
      padding: 0;
      width: 70%;
      transform: translate(-15%,0%);

    }
  
    .titrebleu {
      padding-top: 10px;
      color: #1988ff ;

    }
    .text-content h2 {
        margin: 0;
        padding-bottom: 0.4em;
        font-size: 1.5em; /* Ajustez la taille en fonction de votre design */
        transform: translate(0%,-110%);
    }
    
    .text-content h1 {
        margin: 0;
        padding-bottom: 0.4em;
        font-size: 2.5em; /* Ajustez la taille en fonction de votre design */
        transform: translate(0%,-30%);

    }
    
    .text-content p {
        font-size: 1em; /* Ajustez la taille en fonction de votre design */
        transform: translate(0%,-50%);

    }
    
    .text-content button {
        padding: 10px 20px;
        border: none;
        border-radius: 0.2rem;
        background-color: #6200ea; /* Ajustez la couleur du fond du bouton en fonction de votre design */
        color: #fff;
        font-size: 1.2em;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

    }
    
    .video-content {
        flex-basis: 35%;
        position: relative;
        width: 50%;
        padding-top: 19.7%;
        
        
    }
    
    .video-content img {
      position: absolute;
      width: 110%;
      height: 200%;
      opacity: 0.45; /* Adjust for desired transparency */
      z-index: 0; /* Below the video */
      transform: translate(-45%,-70%);
      z-index: -2;
      
  }
    .elementor-background-video-embed {
        position: absolute;
        
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(255, 255, 255, 0.15);
         /* Centre la vidéo exactement */
         border: 1.05vw solid;
         border-radius: 2%;
         border-color:  rgba(255, 255, 255, 0.1);
         
         transform: translate(-10%,-100%);

    }
    
  
    .background-container  {
      position: relative;
      display: flex;
      width: 85%;
      height: 30rem;
      padding: 50px; /* Espace autour des boîtes de service */

      justify-content: space-between;
      
  }
  
  .background-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://th.bing.com/th/id/OIG4.Xb4dW3re2Zwtpzh6si6r?pid=ImgGn') no-repeat center center / cover ;
     
    /* Espacement égal entre les boîtes de service */
      
    border: 10px solid rgba(255, 255, 255, 0.05); 
    background-size: cover; /* pour couvrir tout l'espace disponible */
    background-position: center; /* pour centrer l'image */
    opacity: 0.22; /* ajustez l'opacité selon vos besoins */
    z-index: -1; /* s'assure que le fond est derrière le contenu */
      

  }
  .service-box {
      align-items: stretch !important ;
      background: rgba(255, 255, 255, 0.2); /* Boîte blanche semi-transparente */
      border-radius: 15px; /* Bords arrondis pour les boîtes */
      width: 28%;
      height: 16rem;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de profondeur */
      text-align: center; /* Centrer le texte dans la boîte */
      transform: translate(0%,50%);
      
  } 
  
  .icon-container img {

    width: 4rem;
      /* Style pour la zone de l'icône / de l'image de décoration */
      margin-bottom: 10px; /* Espace entre l'icône et le titre */
  }
  
  .service-box h3 {
      color: #ffffff; /* Couleur du titre */
      margin: -10px 0; /* Espace autour du titre */
  }
  
  .service-box h4 {
      color: #cccccc; /* Couleur du paragraphe */
      font-size: 1.4vw; /* Taille de la police du paragraphe */
  }
      


  
.button-container {
  text-align: center; /* Centers the button */
  margin-top: 20px; /* Space above the button */
  transform: translate(12%,-120%);

}





  .clients-section {
    text-align: center;
    margin-bottom: 20px; /* Ajustez selon l'espacement désiré */
  }
  
  .clients-title {
    font-size: 24px; /* Ajustez la taille selon vos besoins */
    margin-bottom: 10px; /* Ajustez l'espacement au-dessus du carrousel */
  }
  
  .clients-section {
    padding-top: 2rem;
    max-width: 100vw;
    overflow-x: hidden; /* Empêche le défilement horizontal au niveau de la section */
  }
  
  .splide {
    max-width: 100%;
    margin: 0 auto; /* Centre le carrousel si moins large que l'écran */
  }
  
  .splide__track {
    overflow: hidden; /* Empêche le défilement horizontal au niveau du carrousel */
  }
  
  .splide__list {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .splide__slide img {
    background-color: #2b2626;

    max-width: 100%;
    height: auto; /* Assure que les images sont responsives et ne débordent pas */
  }
  
      
      
      
      
      
     .offres {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* This creates space between the boxes */
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box-header {
  background-color: #1988ff;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
}

.box-content {
  padding: 20px;
  flex-grow: 1;
}

.point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.point:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.point svg {
  margin-right: 10px;
}

.box-footer {
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom of the flex container */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1988ff;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

      
      
      
    


:root {
  --primary-color: #FCFDFD;
  --secondary-color: #1988ff;

  /* #818386*
  bleu hover #4169e1 */
  --bg-color: #171212; 
  --button-color: #818386;
  --h1-color: #FCFDFD;
}


.form-section {
  align-items: center;
  display: flex;
  justify-content: space-around; /* Spacing adjustment */
  padding: 2rem; /* Margins on the sides */
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.form-left,
.form-right {
  flex-basis: 48%; /* Adjusts for spacing */
}

.form-left h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--h1-color);
}

.form-left p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
  width: auto; /* Adjust text width as per content */
}

.form-left img {
  max-width: 100%;
  height: auto;
}

.form-right form {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  display: block;
}
.form-group label,
.form-group input,
.form-group textarea {
  display: block; /* Ensures each label and input/textarea takes up the full width */
  width: 100%; /* Ensures inputs take full width available */
  margin-bottom: 0.5rem; /* Adds some space below each label/input */
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  opacity: 0.8;
}

button {
  background-color: var(--button-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#error,
#success-msg {
  color: var(--secondary-color);
  margin-top: 1rem;
}

.footer-section {
  background-color: var(--bg-color);
  color: #ffffff;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
}

.footer {
  border-top: 1px solid white; /* Ligne de démarcation blanche en haut */
  padding-top: 10PX;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.footer-left,
.footer-middle,
.footer-right {
  flex-basis: calc(33.333% - 20px); /* Adjust based on padding and gap */
}

.footer h2 {
  margin: 0 0 1rem;
}

.footer p {
  margin: 0 0 1rem;
  font-size: 0.9rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0.5rem 0;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}
.social-icons{
  margin-left:7.5px ;
}
.social-icons svg  {
  height: 20px;
  width: max-content;
  margin-right: 0.5rem;
  color: white;
  background-color: #ffffff;
  margin-bottom: 10px;
  
}

.contact-btn {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
}

.footer-bottom p {
  font-size: 0.8rem;
}




  /*  carousel */
  
      @media(max-width:900px){

     .top{
      display:none;
     }   
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0.4rem;
      position: fixed;
      align-items: center;
      top:0px ;
      width: 98%;
      height: 7%;
      
    } 
    .navbar-left  {
      display: flex;
      gap: 2px;
      padding:2px;
      left: 0px;
      width: 10px;
    }
  
  .navbar-right {
    display: flex;
  position: fixed;
  right: 8px;
  }

  .navbar-right a {
    display: none; /* Cacher le logo et les liens pour les petits écrans */
    }
    .navbar-right img{
      display: block; /* Show hamburger icon */
      cursor: pointer;
     

    }
    .sidebar{
      display: block;
      font-size:1.5rem;
    }
    
    

    .content-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 350px;
      padding-bottom: 60px; /* Ajout d'espace en bas pour éviter le chevauchement */
    }
    
    .text-content {
      width: 100%; /* Utilisation de la largeur complète pour le texte */
      padding: 20px; /* Un peu plus d'espace autour du texte */
      order: 1; /* Assure que le texte apparaît en premier */
    }
    
    .text-content img {
      width: 60%; /* Taille de l'image ajustée pour mieux s'adapter */
      margin-bottom: 0px; /* Espace ajouté sous l'image */
      transform: none;
      padding-bottom: 0;
    }
    .text-content h1 {
      transform: translate(0%,-50px);

    }
    .text-content h2 {
      transform: translate(0%,-50px);

    }
    .text-content p {
      transform: translate(0%,-50px);

    }
    .text-content button{
        transform: translate(0%,-20px);
  
      
     
    }
   
    .video-content {
      width: 60%; /* Utilise toute la largeur pour la vidéo */
  height: auto; /* Hauteur auto pour éviter le débordement */
  order: 2; /* La vidéo vient après le texte */
  padding-top: 0; /* Aucun padding au-dessus */
  display: flex;
  justify-content: center; /* Centre la vidéo horizontalement */
  margin-bottom: 70px;
    }
    
    .video-content img {
      width: 80vw; /* L'image de fond prend toute la largeur */
      height: auto; /* Hauteur ajustée automatiquement */
      position: relative; /* S'assure que l'image n'affecte pas la position d'autres éléments */
      opacity: 0.5; /* Transparence pour voir le contenu au-dessus */
      z-index: -1; /* Positionne l'image derrière le texte et la vidéo */
      margin-left: 50px;
      transform: none;
      transform: translate(-5%,-80%);


    }
    
    .elementor-background-video-embed {
      width: 100%; /* La vidéo prend toute la largeur disponible */
      height: 300px; /* Hauteur fixe pour la vidéo */
      order: 2; /* Assure que la vidéo est positionnée entre le texte et l'image de fond */
      transform: none; /* Annule toutes les transformations précédentes */

    }
    
.background-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 20px; /* Ajoute un espace entre les éléments lorsqu'ils se déplacent à la ligne */
  height: fit-content;/* Autres styles restent inchangés */
  
}
.background-container::before {
  height:110%;

  
}

.service-box {
  width: 40%; /* Ajuste la largeur pour plus d'espace */
  margin: 10px; /* Ajoute un peu de marge autour des boîtes */
  height: auto; /* Permet aux boîtes de s'ajuster en hauteur selon le contenu */
}
.button-container{
  margin-top: 110px;
  transform: translate(-6%,-120%);


}

.clients-section {
  text-align: center;
  margin-bottom: 20px; /* Ajustement de l'espacement selon les besoins */
  padding-top: 2rem;
  max-width: 100vw;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180vw;
}
.splide{
  max-width: 150vw;
  margin: 0 auto;
}


.container {
  flex-direction: column; /* Change la disposition en colonne */
  align-items: center; /* Centre les éléments horizontalement */
}

.box {
  width: 90%; /* Ajuste la largeur des boîtes pour qu'elles ne prennent pas toute la largeur de l'écran */
  margin-bottom: 10px; /* Ajoute de l'espace entre les boîtes */
}



.footer {
  justify-content: center;
}

.footer-left,
.footer-middle,
.footer-right {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.social-icons {
  margin-bottom: 1rem;
}
}





@media screen and (max-width: 500px) {

.content-wrapper{
  margin-top: 220px;
}
  .text-content  {
    margin-left: 25vw;
    width: 100vw;
  }
  .video-content{
    margin-left: 25vw;
    width: 100%;
    padding-top: 0;
  }

.elementor-background-video-embed{
  height: auto;
}
  .service-box {
    width: 80%; /* Permet à chaque boîte de prendre plus d'espace horizontal */
    margin: 10px auto; /* Augmente la marge et centre les boîtes */
    font-size: smaller; /* Optionnel : réduit la taille de la police pour économiser de l'espace */
}

.service-box h4 {
    font-size: 3.5vw; /* Ajuste la taille de la police pour une meilleure lisibilité à de petites résolutions */
}

.background-container {
  margin-left: 22.2vw;
}
.service-box{
  margin-left: 9.5vw;
}
.button-container{
  margin-left: 27.5vw;
}

.clients-section{
 margin-left: 25vw;
 max-width: 130vw;
 width: 125vw;
}
.splide {
  width:70%; /* Ajustez cette valeur pour agrandir le carrousel */
  max-width: 12000px; /* Ajustez cette valeur pour définir une largeur maximale */
  margin: 0 auto; /* Centre le carrousel */

}

.splide__track {
}

.splide__list {
  display: flex;
  flex-wrap: nowrap;
}

.offres{
  margin-left: 25vw;
}
.box {
  font-size: 0.8rem;
  width: 100%; /* Permet aux boîtes de prendre presque toute la largeur de l'écran */
}

.box-header, .box-content, .box-footer {
  padding: 15px; /* Réduit le padding pour économiser de l'espace */
}


.form-section {
  flex-direction: column; /* Change l'orientation de flex pour empiler verticalement */
  margin-left:25vw ;
  width: 100%;
  text-align: center;
}

.form-left,
.form-right {
  flex-basis: 100%; /* Permet aux éléments de prendre toute la largeur */
}


.form-right form {
  padding-top: 0.2rem; /* Ajuste le padding au sommet du formulaire pour moins d'espace */
  width: 110%;
}

.contact-btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.footer{

  margin-left:25vw ;

}
.footer-bottom{
text-align: center;
margin-left:30vw ;

}
}


      
      

