:root {
    --primary-color: #FCFDFD;
    --secondary-color: #40B6FF;

    /* #818386*
    bleu hover #4169e1 */
    --bg-color: #171212; 
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }

  
  * {
    margin: 0;
    box-sizing:content-box;
    transition: all 0.3s ease-in-out;
  }
  
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem; /* padding horizontal ajusté pour le contenu de la barre de navigation */
  position: absolute;
  top: 0px;
  left: 0;
  height: 45px;
  width: 97.5%;
  background-color: black; /* Transparence maintenue */
  z-index: 10;
}

.navbar-left {
  display: flex;
  padding: 8px;
  gap: 12px; /* L'espace entre les éléments à gauche */
}

.navbar-right {
  display: flex;
  padding: 15px;
  gap: 20px; /* L'espace entre les éléments à droite */
  width: auto;
}

.navbar-right a {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  margin-right: 10px; /* L'espace entre les liens */
}
    .navbar-right img{
      display: none;

    }

    .sidebar {
      display: none; /* Hidden by default */
      position: fixed;
      top: 0;
      right: -250px; /* Start off the screen */
      width: 250px;
      height: 100%;
      background-color: black;
      z-index: 11;
      transition: right 0.3s;
    }
    
    .sidebar a {
      display: block;
      color: white;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid grey;
    }
        

  .contact-container {
    display: flex;
    width: 100vw;
    height: 130vh;
    background: var(--bg-color);
  }
  
  .left-col {
    width: 45vw;
    height: auto;
    background-image: url('../assets/images/contact_form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* This will center the image */

  }
  
  .left-col img {
    display: none;
  }
  
  
  .right-col {
    
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }
  
  h1, label, button, .description, h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
    padding-bottom: 1.1vh;

  }
  h2{
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 200;
    padding-bottom: 1.1vh;

  }
  
  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
    padding-bottom: 1.1vh;
    line-height: 1.4;

  }
  /* Style pour les liens e-mail */
p a {
    color: white; /* Couleur de texte par défaut pour les liens */
    text-decoration: none; /* Optionnel: supprime le soulignement des liens */
   

  }
  
  p a:hover {
    color: #4169e1; /* Couleur de texte au survol */
  }
  
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  
 
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 900px) {
    body{

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0.4rem;
      position: fixed;
      align-items: center;
      top:0px ;
      width: 100%;
      height: 7%;
      
    } 
    .navbar-left  {
      display: flex;
      gap: 2px;
      padding:2px;
      left: 0px;
      width: 10px;
    }
  
  .navbar-right {
    display: flex;
  position: fixed;
  right: 8px;
  }

  .navbar-right a {
    display: none; /* Cacher le logo et les liens pour les petits écrans */
    }
    .navbar-right img{
      display: block; /* Show hamburger icon */
      cursor: pointer;
     

    }
    .sidebar{
      display: block;
      font-size:1.5rem;
    }
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .left-col, .right-col {
      width: 100%; /* Prend toute la largeur disponible */
    }
  
    .left-col img {
      display: block; /* S'assure que le logo est affiché */
      max-width: 1000px; /* Ajustez selon la taille souhaitée du logo */
      height: 300px; /* Garde les proportions de l'image */
      margin: 10px auto; /* Centrage du logo avec une marge */
    }
    
    .right-col {
      width: 80%; /* Ajuste la largeur du formulaire et du contenu associé */
      max-width: 400px; /* Vous pouvez ajuster cette valeur */
      text-align: center;
    }
    .maill{
      margin-left: 100px;
    }
    .available{
      margin-left: 50px;

    }
    
    input, textarea, label {
      width: 100%; /* Permet aux champs de formulaire de remplir la largeur du conteneur */
      padding-bottom: 10px;
    }  }



  @media screen and (max-width: 500px) {

    .left-col {
      width: 125%; /* Augmente légèrement la largeur pour les très petits écrans, tout en conservant une marge */
    max-width: 125%; /* Ajustez cette valeur si nécessaire */
  }
    .right-col {
    width: 100%; /* Augmente légèrement la largeur pour les très petits écrans, tout en conservant une marge */
    max-width: 500px; /* Ajustez cette valeur si nécessaire */
    height: 200%;
    max-height: 20000px;
  }
.form-section {
  flex-direction: column; /* Change l'orientation de flex pour empiler verticalement */
  margin-left:25vw ;
  width: 100%;
  text-align: center;
}

.form-left,
.form-right {
  flex-basis: 100%; /* Permet aux éléments de prendre toute la largeur */
}

.formm{
  width: 100%;
}
.form-right form {
  padding-top: 0.2rem; /* Ajuste le padding au sommet du formulaire pour moins d'espace */
  width: 100%;
}
  }