

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem; /* padding horizontal ajusté pour le contenu de la barre de navigation */
    position: absolute;
    top: 0px;
    left: 0;
    height: 45px;
    width: 97.5%;
    background-color: black; /* Transparence maintenue */
    z-index: 20;
}

.navbar-left {
    display: flex;
    padding: 8px;
    gap: 12px; /* L'espace entre les éléments à gauche */
}

.navbar-right {
    display: flex;
    padding: 15px;
    gap: 20px; /* L'espace entre les éléments à droite */
    width: auto;
}

.navbar-right a {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    margin-right: 10px; /* L'espace entre les liens */
}
      .navbar-right img{
        display: none;

      }

      .sidebar {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        right: -250px; /* Start off the screen */
        width: 250px;
        height: 100%;
        background-color: black;
        z-index: 11;
        transition: right 0.3s;
      }
      
      .sidebar a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid grey;
      }
          
:root {
    --primary-color: #FCFDFD;
    --secondary-color: #1988ff;
  
    /* #818386*
    bleu hover #4169e1 */
    --bg-color: #171212; 
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }
  
  body {
    background-color: #171212; /* Couleur de fond noir */
    color: #FCFDFD; /* Texte en blanc */
    font-family: Arial, sans-serif;
  }
  
  #container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--bg-color); /* Arrière-plan légèrement différent pour le conteneur */
  }
  
  h1 {
    color: var(--secondary-color);
    text-align: center;
  }
  
  #input-container {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent; /* Fond transparent */
    border: 2px solid var(--secondary-color); /* Bordure bleue */
    border-radius: 4px;
    color: #ffffff; /* Texte en blanc */
  }
  #admin-password {
    margin: 20px;
    padding: 8px;
    display: none; /* Initialement caché */
  }
  
  #crud-table {
    display: none; /* Caché jusqu'à ce que le mot de passe soit vérifié */
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color); /* Fond bleu */
    color: #ffffff; /* Texte en blanc */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #4169e1; /* Couleur de fond au survol */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--secondary-color); /* Bordure des cellules en bleu */
  }
  
  th {
    background-color: var(--secondary-color); /* Fond des en-têtes en bleu */
    color: #ffffff;
  }
  
  .edit-btn, .delete-btn {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color); /* Bordure des boutons en bleu */
    padding: 5px 10px;
    margin-right: 5px;
    transition: all 0.3s ease;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    background-color: var(--secondary-color); /* Fond bleu au survol */
    color: #ffffff;
  }
  
  @media (max-width: 900px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem;
        position: fixed;
        align-items: center;
        top:0px ;
        width: 98%;
        height: 7%;
        
      } 
      .navbar-left  {
        display: flex;
        gap: 2px;
        padding:2px;
        left: 0px;
        width: 10px;
      }
    
    .navbar-right {
      display: flex;
    position: fixed;
    right: 8px;
    }
  
    .navbar-right a {
      display: none; /* Cacher le logo et les liens pour les petits écrans */
      }
      .navbar-right img{
        display: block; /* Show hamburger icon */
        cursor: pointer;
       
  
      }
      .sidebar{
        display: block;
        font-size:1.5rem;
      }
      